body{
    margin: 0;
}

h2 {
    color: #fff;
}

li {
    list-style: none;
}

.top-page {
    display: flow-root;
    background: #0a4e75;
    padding: 20px;
    height: 300px;
}

.menu {
    padding: 0;
}

.menu, .menu-main {
    display: inline;
}

.menu .active {
    background-color: #083b58;
    padding: 10px;
    border: 1px solid #083b58;
    border-radius: 5px;
}

.menu-main {
    color: #ffffff;
    padding: 10px;
}

.profile-small {
    width: 50px;
    border-radius: 50%;
}

.left-nav {
    width: 50%;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

.pets {
    color: #17bdca;
    transform: rotate(90deg);
    margin-right: 20px;
}

.sb {
    display: inline-block;
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    margin-bottom: 50px;
}

.profile {
    background: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 1px 1px #eee;
}

.sidebar {
    width: 25%;
    float: left;
    border-right: 1px solid #eee;
}

.content {

}

.profile-large {
    width: 100px;
    border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}